<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button type="submit">Submit</button>

    </form>
    {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
              {{ error }}
            </div>
            {% endif %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success mt-3" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
</body>
</html>